params.input = "/data/projects/cpo_pipeline/data/Dickeya.fa"
params.general_output = "/data/projects/test_cpo_local"
params.clustering_output = "/data/projects/test_cpo_local/clustering/"
params.fastas_output = "/data/projects/test_cpo_local/clustering/fastas/"
params.phylogenomics_output = "/data/projects/test_cpo_local/phylogenomics/"
params.orthology_output = "/data/projects/test_cpo_local/orthology"
params.bin_dir = "/data/projects/cpo_pipeline/bin/"
params.emapper_dir = "/data/soft/eggnog-mapper_2.1.12/eggnog-mapper"
params.python_version = "python"

params.hmmer_num_servers = 2
params.hmmer_num_workers = 5
params.hmmer_cpu = 10

params.famsa_threads = 1

params.mmseqs_threads = 2
params.mmseqs_coverage = 0.3
params.mmseqs_min_seq_id = 0.3
params.sensitivity = 7
params.cov_mode = 2 
params.cluster_mode = 0

params.ogd_dir = "/data/projects/og_delineation/"
params.ogd_rooting = "MinVar"
params.ogd_taxonomy_db = "/data/databases/ETE_taxonomy/EggNOG6/e6.taxa.sqlite"
params.ogd_sp_delimitator = "."
params.ogd_sp_overlap = 0.1
params.ogd_sp_lost = 0.7
 


process {
        executor = 'local'
        queueSize = 10

        withName: pfam_clustering {
        cpus = 10
        memory = '12 GB'
        }

        withLabel: 'medium' {
        cpus = 1
        memory = '2 GB'
        queue = 'medium'
        time = '1d'
        }

        withLabel: 'fast' {
        cpus = 1
        memory = '2 GB'
        queue = 'fast'
        time = '1h'
        }
        
}