// local.config

params {
    // Archivo FASTA de entrada
    input = "/data/projects/cpo_pipeline/datas/Dickeya.fa"

    general_output = "/data/projects/test_cpo_local"

    // Rutas a bases de datos de referencia
    pfam_db = "/data/projects/cpo_pipeline/datas/pfam/Pfam-A.hmm"
    pfam_datadir = "/data/projects/cpo_pipeline/datas"
    ogd_taxonomy_db = "/data/projects/cpo_pipeline/datas/ete_taxonomy/e6.taxa.sqlite"

    // Parámetros de herramientas (hmmer, mmseqs, etc.)
    hmmer_num_servers = 2
    hmmer_num_workers = 5
    hmmer_cpu = 10
    
    famsa_threads = 1
    
    mmseqs_threads = 2
    mmseqs_coverage = 0.3
    mmseqs_min_seq_id = 0.3
    sensitivity = 7
    cov_mode = 2
    cluster_mode = 0
    
    ogd_rooting = "MinVar"
    ogd_sp_delimitator = "."
    ogd_sp_overlap = 0.1
    ogd_sp_lost = 0.7

    time = null
}


executor {
    executor = 'local'
    queueSize = 10
}

process {
    // Configuración para el proceso llamado 'pfam_clustering'
    withName: pfam_clustering {
        cpus = 10
        memory = '12 GB'
    }

    // Configuración para procesos con la etiqueta 'medium'
    withLabel: 'medium' {
        cpus = 1
        memory = '2 GB'
        
    }

    // Configuración para procesos con la etiqueta 'fast'
    withLabel: 'fast' {
        cpus = 1
        memory = '2 GB'
    }
}