params.input = "/home/plaza/projects/test_cpo_pipeline/cpo_nextflow/data/Dickeya.fa"
params.general_output = "/home/plaza/projects/test_cpo_pipeline/results"
params.clustering_output = "/home/plaza/projects/test_cpo_pipeline/results/clustering/"
params.fastas_output = "/home/plaza/projects/test_cpo_pipeline/results/clustering/fastas/"
params.phylogenomics_output = "/home/plaza/projects/test_cpo_pipeline/results/phylogenomics/"
params.orthology_output = "/home/plaza/projects/test_cpo_pipeline/results/orthology"
params.bin_dir = "/home/plaza/projects/test_cpo_pipeline/cpo_nextflow/bin/"
params.emapper_dir = "/home/plaza/soft/eggnog-mapper_v2.1.12/eggnog-mapper"
params.python_version = "python3.7"

params.hmmer_num_servers = 1
params.hmmer_num_workers = 4
params.hmmer_cpu = 4

params.famsa_threads = 1

params.mmseqs_threads = 2
params.mmseqs_coverage = 0.3
params.mmseqs_min_seq_id = 0.3
params.sensitivity = 7
params.cov_mode = 2 
//0: coverage of query and target  1: coverage of target  2: coverage of query 3: target seq. length has to be at least x% of query length  4: query seq. length has to be at least x% of target length   5: short seq. needs to be at least x% of the other seq. length [0]
params.cluster_mode = 0
// 0: Set-Cover (greedy)   1: Connected component (BLASTclust)  2,3: Greedy clustering by sequence length (CDHIT) [0]   

params.ogd_dir = "/home/plaza/projects/OG_Delineation/"
params.ogd_rooting = "MinVar"
params.ogd_taxonomy_db = "/home/plaza/databases/ETE/Eggnog6/e6.taxa.sqlite"
params.ogd_sp_delimitator = "."
 
process {
    
        executor = 'slurm'
        queueSize = 50
        
        withName: pfam_clustering {
        cpus = 4
        memory = '64 GB'
        queue = 'long'
        time = '7d'
        }

        withLabel: 'medium' {
        cpus = 1
        memory = '4 GB'
        queue = 'medium'
        time = '1d'
        }

        withLabel: 'fast' {
        cpus = 1
        memory = '2 GB'
        queue = 'fast'
        time = '1h'
        }

}