// 

params {
    // Archivo FASTA de entrada
    input = "/data/projects/cpo_pipeline/datas/Dickeya.fa"

    general_output = "/data/projects/test_cpo_local"

    // Rutas a bases de datos de referencia
    pfam_db = "/data/projects/cpo_pipeline/data/pfam/Pfam-A.hmm"
    pfam_datadir = "/data/projects/cpo_pipeline/data"
    ogd_taxonomy_db = "/data/projects/cpo_pipeline/data/ete_taxonomy/e6.taxa.sqlite"

    // Parámetros de herramientas (hmmer, mmseqs, etc.)
    hmmer_num_servers = 2
    hmmer_num_workers = 5
    hmmer_cpu = 10
    
    famsa_threads = 1
    
    mmseqs_threads = 2
    mmseqs_coverage = 0.3
    mmseqs_min_seq_id = 0.3
    sensitivity = 7
    cov_mode = 2
    cluster_mode = 0
    
    ogd_rooting = "MinVar"
    ogd_sp_delimitator = "."
    ogd_sp_overlap = 0.1
    ogd_sp_lost = 0.7
}


process {
    
        executor = 'slurm'
        queueSize = 50
        
        withName: pfam_clustering {
        cpus = 4
        memory = '64 GB'
        queue = 'long'
        time = '7d'
        }

        withLabel: 'medium' {
        cpus = 1
        memory = '4 GB'
        queue = 'medium'
        time = '1d'
        }

        withLabel: 'fast' {
        cpus = 1
        memory = '2 GB'
        queue = 'fast'
        time = '1h'
        }

}