// conf/slurm.config — Execution on a SLURM cluster.
// Adjust the queue names ('queue') to match your cluster.

executor {
    name      = 'slurm'
    queueSize = 50
}

process {

    withName: pfam_clustering {
        cpus   = 4
        memory = '64 GB'
        queue  = 'long'
        time   = '7d'
    }

    withLabel: 'medium' {
        cpus   = 1
        memory = '4 GB'
        queue  = 'medium'
        time   = '1d'
    }

    withLabel: 'fast' {
        cpus   = 1
        memory = '2 GB'
        queue  = 'fast'
        time   = '1h'
    }
}